{% extends "base.jinja" %}

{% block title %}
  {{ army_list.name }}
{% endblock title %}

{% block body %}
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h1>{{ army_list.name }}</h1>
        <blockquote>{{ fluff }}</blockquote>
      </div>
    </div>

    <div class="row mb-4 gy-2">
      <div class="col-12">
        <h2>Detachments</h2>
      </div>
      {% for formation_group in army_list.formation_groups %}
        <div class="col-12">
          {% call nested_formation_group(formation_group) %}
        </div>
      {% endfor %}
    </div>

    <div class="row mb-4 gy-2">
      <div class="col-12">
        <h2>Forces</h2>
      </div>
      {% for forces in army_list.forces %}
        {% call forces(forces) %}
      {% endfor %}
    </div>
  </div>
{% endblock body %}

{% macro nested_formation_group(formation_group) %}
  {% if formation_group.nested_formation_groups.len() > 0 %}
    <div class="border p-2">
      <h5>{{ formation_group.name }}</h5>
      {% match formation_group.help_text %}
        {% when Some with(help_text) %}
        <p class="fw-normal">{{ help_text }}</p>
        {% when None %}
      {% endmatch %}

      {% for formation_group in formation_group.nested_formation_groups %}
        {% call formation_group(formation_group) %}
      {% endfor %}
    </div>
  {% endif %}

  {% if formation_group.formations.len() > 0 %}
    {% call formation_group(formation_group) %}
  {% endif %}
{% endmacro %}

{% macro formation_group(formation_group) %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th colspan="4">
          <h5>{{ formation_group.name }}</h5>
          {% match formation_group.help_text %}
            {% when Some with(help_text) %}
            <p class="fw-normal">{{ help_text }}</p>
            {% when None %}
          {% endmatch %}
        </th>
      </tr>
      <tr>
        <th scope="col">Formation</th>
        <th scope="col">Units</th>
        {% if formation_group.formations_have_upgrades() %}
          <th scope="col">Upgrades</th>
        {% endif %}
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for formation in formation_group.formations %}
        <tr>
          <td>{{ formation.name }}</td>
          <td>
            {% for unit in formation.units %}
              <p>{{ unit }}</p>
            {% endfor %}
          </td>
          {% if formation_group.formations_have_upgrades() %}
            <td>
              {% for upgrade in formation.upgrades %}
                <p>{{ upgrade }}</p>
              {% endfor %}
            </td>
          {% endif %}
          <td>{{ formation.cost }} points</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro upgrades(upgrades) %}
  <div></div>
{% endmacro %}

{% macro forces(forces) %}
  <h3>{{ forces.name }}</h3>
  <div class="col-12">
    <div class="row gy-3">
      {% for unit in forces.units %}
        <div class="col-12">
          {% call unit(unit) %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro unit(unit) %}
  <div class="px-2">
    <div class="row border border-secondary">
      <div class="col-12 col-lg-4 border-right-0 border-lg-right border-bottom border-lg-bottom-0">
        <div class="row">
          <div class="col-12 border-bottom bg-secondary-subtle">
            <div class="flex flex-column text-align-center">
              <div class="fw-bold fs-5 text-center">{{ unit.name }}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col text-center">
                <div class="flex flex-column">
                  <div class="text-uppercase text-secondary-emphasis">
                    <small class="fw-light">Type</small>
                  </div>
                  <div>{{ unit.unit_type }}</div>
                </div>
              </div>
              <div class="col text-center">
                <div class="flex flex-column">
                  <div class="text-uppercase text-secondary-emphasis">
                    <small class="fw-light">Speed</small>
                  </div>
                  <div>{{ unit.speed_or_ac_type() }}</div>
                </div>
              </div>
              <div class="col text-center">
                <div class="flex flex-column">
                  <div class="text-uppercase text-secondary-emphasis">
                    <small class="fw-light">Armour</small>
                  </div>
                  <div>{{ unit.armour() }}</div>
                </div>
              </div>
              <div class="col text-center">
                <div class="flex flex-column">
                  <div class="text-uppercase text-secondary-emphasis">
                    <small class="fw-light">CC</small>
                  </div>
                  <div>{{ unit.cc() }}</div>
                </div>
              </div>
              <div class="col text-center">
                <div class="flex flex-column">
                  <div class="text-uppercase text-secondary-emphasis">
                    <small class="fw-light">FF</small>
                  </div>
                  <div>{{ unit.ff() }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 pb-1 pb-lg-2">
        <div class="row">
          <div class="col-6 col-md-5 col-lg-4">
            <div class="text-uppercase text-secondary-emphasis">
              <small class="fw-light">Weapons</small>
            </div>
          </div>
          <div class="col-2 col-lg-2 col-xxl-1 text-center">
            <div class="text-uppercase text-secondary-emphasis">
              <small class="fw-light">Range</small>
            </div>
          </div>
          <div class="col">
            <div class="text-uppercase text-secondary-emphasis">
              <small class="fw-light">Firepower</small>
            </div>
          </div>
        </div>
        {% for weapon in unit.weapons %}
          <div class="row">
            <div class="col-6 col-md-5 col-lg-4">
              {% if weapon.x.is_some() %}
                {{ weapon.x.unwrap() }}x
              {% endif %}{{ weapon.name }}
            </div>
            <div class="col-2 col-lg-2 col-xxl-1 text-center">{{ weapon.range() }}</div>
            <div class="col">
              {% for firepower in weapon.firepower %}
                {{ firepower }}{% if loop.last -%}

                {% else %}
                  ,
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      {% if unit.notes.len() > 0 %}
        <div class="col-12 border-top">
          <div class="row gx-0 m-0">
            <div class="col-12 text-uppercase text-secondary-emphasis">
              <small class="fw-light">Notes</small>
            </div>
            <div class="row pb-1 gx-0 row-cols-1">
              {% if unit.has_special_rules() %}
                <div class="col">
                  {% for note in unit.special_rules() %}
                    <span class="fst-italic epic-kdl-keyword">{{ note }}</span>{% if loop.last != true -%}
                      ,
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}

              {% match unit.damage_capacity() %}
                {% when Some with(dc) %}
                <div class="col">
                  <span class="fst-italic epic-kdl-keyword">Damage Capacity {{ dc.amount }}</span>
                  Critical Hit Effect: {{ dc.critical_hit }}
                </div>
                {% when None %}
              {% endmatch %}
              {% match unit.transport() %}
                {% when Some with(tc) %}
                <div class="col">
                  <span class="fst-italic epic-kdl-keyword">Transport</span>:
                  {{ tc.text }}
                </div>
                {% when None %}
              {% endmatch %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}
